{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}
<h1 class = "text-white text-center mt-4">Welcome To Public Tweet Site</h1>

<h2>
    {%if form.instance.pk%}
    Edit Tweet
    {%else%}
    Create a Tweet
    {% endif %}
</h2>

<form method = "post" enctype = 'multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <button class = "btn btn-warning" type="submit">Submit</button>
</form>
<a href="{% url 'tweet_list' %}">Back to Home</a>
{% endblock %}